# compiled output
/dist
/node_modules
/build

# Tests
/coverage

# IDE - VSCode
.vscode/*

# environment variable files
.env

# temp directory
.temp
.tmp

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
